(일련번호) | 대학 | 학과 | 전공 | 재직여부 | 성명 | 교번 | 풀네임 | 약어 | AU_ID | PNU_ID | KRI | 직급 | 이메일 | 임용일자 | 퇴직일자

In [213]:
import pandas as pd
import numpy as np
from pandas import DataFrame as df
from openpyxl import load_workbook
import math

pd.options.display.float_format = '{:.0f}'.format
pd.options.display.max_columns = None

pip_list = pd.read_excel("DB/AUTHOR/PIP_2014_2020.xlsx")
giegum = pd.read_excel("DB/AUTHOR/교무과제공_기금교수 명단_임용일자추가(2020.4.20.현재기준).xlsx")
jeunyim = pd.read_excel("DB/AUTHOR/교무과제공_전임교원 명단_임용일자추가(2020.4.27.기준).xlsx")
library = pd.read_excel("DB/AUTHOR/도서관제공_교수급 연구자명단(원본).xlsx")

In [214]:
authors = df(columns=["대학",
                      "학과",
                      "전공",
                      "재직여부",
                      "성명",
                      "교직원번호",
                      "풀네임",
                      "약어",
                      "AU-ID",
                      "PNU_ID",
                      "연구자번호",
                      "직급",
                      "이메일",
                      "임용일자",
                      "퇴직일자"])

researchers = df(columns=["대학",
                      "학과",
                      "전공",
                      "재직여부",
                      "성명",
                      "교직원번호",
                      "풀네임",
                      "약어",
                      "AU-ID",
                      "PNU_ID",
                      "연구자번호",
                      "직급",
                      "이메일",
                      "임용일자",
                      "퇴직일자"])

In [215]:
# 조건
level = ['교수','부교수','조교수',
         '총장',
         '기금교수(교수대우)','기금교수(조교수대우)','기금교수(부교수대우)']

In [216]:
# PIP   |대학|학과|전공|재직여부(X)|성명|교직원번호|풀네임(X)|약어(X)|AU_ID(X)|PNU(X)|연구자번호|직급|이메일|임용일자|퇴직일자

def add_authors_pip(prof_num,row):
    authors.loc[prof_num] = [ # AUTHORS에 추가
            pip_list['대학'].loc[row], # 대학
            pip_list['학과'].loc[row], # 학과
            pip_list['전공'].loc[row], # 전공
            np.nan,                     # 재직여부
            pip_list['성명'].loc[row], # 성명
            pip_list['교직원번호'].loc[row],  # 교직원번호
            np.nan,                     # 풀네임
            np.nan, # 약어
            np.nan, # au_id
            np.nan, # pnu_id
            pip_list['연구자번호'].loc[row], # 연구자번호
            pip_list['직급'].loc[row], # 직급
            np.nan, # 이메일
            pip_list['임용일자'].loc[row], # 임용일자
            pip_list['퇴직일자'].loc[row] # 퇴직일자
        ]

In [217]:
# PIP   |대학|학과|전공|재직여부(X)|성명|교직원번호|풀네임(X)|약어(X)|AU_ID(X)|PNU(X)|연구자번호|직급|이메일|임용일자|퇴직일자

prof_num = 0  # 교수님 수 
for row in range(0,len(pip_list)):
    if not pip_list['교직원번호'].loc[row] in authors['교직원번호'].tolist(): #교직원 번호가 처음보는 번호면
        if pip_list['직급'].loc[row] in level: # 분석하고자 하는 직급의 사람들만
            add_authors_pip(prof_num,row)
            prof_num += 1

In [218]:
print(prof_num)

1569

In [219]:
# 기금  |대학|학과|전공(X)|재직여부(X)|성명|교직원번호|풀네임(X)|약어(X)|AU_ID(X)|PNU(X)|연구자번(X)호|직급|이메일|임용일자(X)|퇴직일자(X)
def add_authors_giegum(prof_num,row2):
    authors.loc[prof_num] = [ # AUTHORS에 추가
            giegum['상위부서'].loc[row2], # 대학
            giegum['소속'].loc[row2], # 학과
            np.nan, # 전공
            np.nan,                     # 재직여부
            giegum['한글성명'].loc[row2], # 성명
            giegum['교직원번호'].loc[row2],  # 교직원번호
            np.nan,                     # 풀네임
            np.nan, # 약어
            np.nan, # au_id
            np.nan, # pnu_id
            np.nan, # 연구자번호
            giegum['직급'].loc[row2], # 직급
            giegum['이메일'].loc[row2], # 이메일
            np.nan, # 임용일자
            np.nan # 퇴직일자
        ]

In [220]:
# 기금
for row2 in range(0,len(giegum)):
    if not giegum['교직원번호'].loc[row2] in authors['교직원번호'].tolist(): #교직원 번호가 없다면
        if giegum['직급'].loc[row2] in level: # 분석하고자 하는 직급의 사람들만
            add_authors_giegum(prof_num,row2)
            prof_num += 1

In [221]:
print(prof_num)

1584

In [222]:
# 전임 |대학|학과|전공(X)|재직여부(X)|성명|교직원번호|풀네임(X)|약어(X)|AU_ID(X)|PNU(X)|연구자번(X)호|직급|이메일|임용일자(X)|퇴직일자(X)
def add_authors_jeunyim(prof_num,row3):
    authors.loc[prof_num] = [ # AUTHORS에 추가
            jeunyim['대학'].loc[row3], # 대학
            jeunyim['학과'].loc[row3], # 학과
            np.nan, # 전공
            np.nan,                     # 재직여부
            jeunyim['한글성명'].loc[row3], # 성명
            jeunyim['교직원번호'].loc[row3],  # 교직원번호
            np.nan,                     # 풀네임
            np.nan, # 약어
            np.nan, # au_id
            np.nan, # pnu_id
            np.nan, # 연구자번호
            jeunyim['직급'].loc[row3], # 직급
            jeunyim['이메일'].loc[row3], # 이메일
            np.nan, # 임용일자
            np.nan # 퇴직일자
        ]

In [223]:
# 전임
for row3 in range(0,len(jeunyim)):
    if not jeunyim['교직원번호'].loc[row3] in authors['교직원번호'].tolist(): #교직원 번호가 없다면
        if jeunyim['직급'].loc[row3] in level: # 분석하고자 하는 직급의 사람들만
            add_authors_jeunyim(prof_num,row3)
            prof_num += 1

In [224]:
print(prof_num)

1647

In [225]:
authors

,대학,학과,전공,재직여부,성명,교직원번호,풀네임,약어,AU-ID,PNU_ID,연구자번호,직급,이메일,임용일자,퇴직일자
0,공과대학,기계공학부,에너지시스템전공,nan,하만영,110530,nan,nan,nan,nan,10080670,교수,NaN,19910328,nan
1,나노과학기술대학,나노에너지공학과,NaN,nan,이득우,110653,nan,nan,nan,nan,10053248,교수,NaN,19951201,nan
2,간호대학,간호학과,NaN,nan,강경림,111900,nan,nan,nan,nan,11886328,조교수,NaN,20190301,nan
3,공과대학,전기공학과,전기공학전공,nan,김욱,111573,nan,nan,nan,nan,11003384,부교수,NaN,20110901,nan
4,간호대학,간호학과,NaN,nan,강인순,110998,nan,nan,nan,nan,10116060,교수,NaN,20030301,nan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1642,공과대학,기계공학부,NaN,nan,이병용,111978,nan,nan,nan,nan,nan,조교수,blee1015@pusan.ac.kr,nan,nan
1643,한의학전문대학원,한의학과,NaN,nan,고창원,111989,nan,nan,nan,nan,nan,조교수,khochangwon@pusan.ac.kr,nan,nan
1644,치의학전문대학원,치의학과,NaN,nan,김재훈,111988,nan,nan,nan,nan,nan,조교수,jhkimdent@pusan.ac.kr,nan,nan
1645,인문대학,일어일문학과,NaN,nan,한정선,111968,nan,nan,nan,nan,nan,조교수,jshan.online@gmail.com,nan,nan
1646,자연과학대학,미생물학과,NaN,nan,이은희,111981,nan,nan,nan,nan,nan,조교수,ehlee8102@gmail.com,nan,nan

In [226]:
# 도서관 |대학|학과|전공(X)|재직여부(X)|성명|교직원번호|풀네임|약어|AU_ID(X)|PNU|연구자번호(X)|직급|이메일|임용일자(X)|퇴직일자(X)
def add_authors_library1(prof_num,row4):
    authors.loc[prof_num] = [ # AUTHORS에 추가
            library['단대'].loc[row4], # 대학
            library['학과'].loc[row4], # 학과
            np.nan, # 전공
            np.nan,                     # 재직여부
            library['연구자명'].loc[row4], # 성명
            library['교번'].loc[row4],  # 교직원번호
            library['영문풀네임1'].loc[row4], # 풀네임
            library['영문약어1'].loc[row4], # 약어
            np.nan, # au_id
            library['ID'].loc[row4], # pnu_id
            np.nan, # 연구자번호
            library['신분'].loc[row4], # 직급
            library['email'].loc[row4], # 이메일
            np.nan, # 임용일자
            np.nan # 퇴직일자
        ]
    
def add_authors_library2(prof_num,row4):
    authors.loc[prof_num] = [ # AUTHORS에 추가
            library['단대'].loc[row4], # 대학
            library['학과'].loc[row4], # 학과
            np.nan, # 전공
            np.nan,                     # 재직여부
            library['연구자명'].loc[row4], # 성명
            library['교번'].loc[row4],  # 교직원번호
            library['영문풀네임1'].loc[row4], # 풀네임
            library['영문약어1'].loc[row4], # 약어
            np.nan, # au_id
            library['ID'].loc[row4], # pnu_id
            authors['연구자번호'].loc[prof_num], # 연구자번호
            library['신분'].loc[row4], # 직급
            library['email'].loc[row4], # 이메일
            authors['임용일자'].loc[prof_num], # 임용일자
            authors['퇴직일자'].loc[prof_num] # 퇴직일자
        ]

In [227]:
# 도서관
for row4 in range(0,len(library)):
    if not library['교번'].loc[row4] in authors['교직원번호'].tolist(): #교직원 번호가 없다면
        if library['신분'].loc[row4] in level: # 분석하고자 하는 직급의 사람들만
            add_authors_library1(prof_num,row4)
            prof_num += 1
    else: # 이미 있는 교직원번호라면
        flag = authors['교직원번호'].tolist().index(library['교번'].loc[row4]) # 해당 교직원 row를 찾아
        add_authors_library2(flag,row4) # 데이터 추가해서 업데이트

In [236]:
pnu_department_list = authors["학과"].unique()
pnu_department_list

array(['기계공학부', '나노메카트로닉스공학과', '간호학과', '전기컴퓨터공학부', '경영학과', '관광컨벤션학과',
       '국제학부', '재료공학부', '교양교육원', '전자공학과', '원예생명과학과', '생명환경화학과', '고분자공학과',
       '유기소재시스템공학과', '광메카트로닉스공학과', '조선·해양공학과', '의학과', '약학과', '무역학부',
       '나노에너지공학과', '의과학과', '화공생명공학전공', '사회환경시스템공학과', '건설융합학부', '물리교육과',
       '교육학과', '항공우주공학과', '유아교육과', '특수교육과', '신문방송학과', '바이오산업기계공학과',
       '식품영양학과', '제약학과', '바이오소재과학과', '사회복지학과', '화공생명·환경공학부', '실내환경디자인학과',
       '교양교육원 교양교육실', '선박해양플랜트기술연구원', '약학전공', '설계기반미래성형기술개발센터',
       '약학부(대학원 제약학과)', '식물생명과학과', '부속연구소', '조선.해양공학과', '제약학전공', '전기공학과',
       '법학과', '조경학과', '국제통상전공', '아동가족학과', '국제물류및항만관리전공', '바이오환경에너지학과',
       '사회학과', '국제전문대학원', '심리학과', '기후과학연구소', '국제지역협력전공', '환경공학전공', '융합학부',
       '의류학과', 'IT응용공학과', '정치외교학과', '바이오피지오센서연구소', '산업공학과', '행정학과',
       '동물생명자원과학과', '점필재연구소', '인문학연구소', '정밀정형 및 금형가공연구소', '식품공학과', '고고학과',
       '국어국문학과', '도시공학과', '노어노문학과', '독어독문학과', '불어불문학과', '사학과', '언어정보학과',
       '대기환경과학과', '물리학과', '분자생물학과', '스포츠과학부', '영어영문학과', '국어교육과', '물리.화학부',
       '수학과', '일어일문학과', '해양학과', '중어중문학과', '지질환경과학과', '화학과', '약학부',
       '환경.에너지연구소', '철학과', '한문학과', '치의학과', 'IBS기후물리연구단', '치의생명과학과',
       '식품자원경제학과', '생명과학과', '컴퓨터 및 정보통신연구소', '의생명융합공학부', '정보컴퓨터공학부',
       '한의학과', '한의과학과', '통일한국연구원', '통계학과', '한국민족문화연구소', '독어교육과', '산학협력단',
       '미생물학과', '디자인학과', '화학공학고분자공학과', '정보화본부', '불어교육과', '예술문화영상학과',
       '생물교육과', '윤리교육과', '무용학과', '미술학과', '음악학과', '지구과학교육과', '일반사회교육과',
       '조형학과', '한국음악학과', '수학교육과', '화학교육과', '역사교육과', '영어교육과', '문헌정보학과',
       '경제학부', nan, '공공정책학부', '지리교육과', '체육교육과', '기술창업대학원', '미디어커뮤니케이션학과',
       '화공생명.환경공학부', '대학병원'], dtype=object)

In [229]:
authors.to_excel("1차본.xlsx")

In [238]:
# 학과명별로 재분류
pnu_department_list = authors["학과"].unique()
tmp=[]
for department in pnu_department_list:
    tmp.append(authors.groupby('학과').get_group(department).sort_values('성명', ascending=True))

for dep in range(0,len(tmp)):
    researchers = pd.concat([researchers,tmp[dep]])

KeyError: nan

In [97]:
authors

Empty DataFrame
Columns: [대학, 학과, 전공, 재직여부, 성명, 교직원번호, 풀네임, 약어, AU-ID, PNU_ID, 연구자번호, 직급, 이메일, 임용일자, 퇴직일자]
Index: []